body {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #E8F2FC; }

.hero {
  display: flex;
  padding: 112px;
  background-color: white;
  align-items: center;
  margin: 32px auto;
  max-width: 1328px;
  border-radius: 1rem;
  gap: 16px; }
  .hero_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start; }

p {
  color: rgba(0, 0, 0, 0.496);
  font-size: 1rem;
  margin: 0px; }

h1 {
  color: rgba(0, 0, 0, 0.924);
  font-weight: bold; }

h2 {
  color: rgba(0, 0, 0, 0.778);
  font-weight: bold;
  margin: 0px; }

h3 {
  color: rgba(0, 0, 0, 0.778);
  font-weight: bold;
  margin: 0px; }

h5 {
  color: rgba(0, 0, 0, 0.924);
  font-size: 20px;
  margin: 0px; }

.bt_primary {
  background: linear-gradient(270deg, #E64343 0%, #9A45C1 100%);
  padding: 1rem 3rem;
  border-radius: 8px;
  color: white;
  border: 0px; }
  .bt_primary:hover {
    background: linear-gradient(270deg, #E64343 0%, #9A45C1 59.38%);
    box-shadow: 0px 2px 20px 0px rgba(5, 44, 82, 0.15);
    transition: ease-in; }

/*Sec1*/
.sec1 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 224px 0px 224px 0px; }
  .sec1_content {
    max-width: 800px; }
  .sec1_Ctarjeta {
    display: flex;
    align-items: center;
    gap: 24px; }
    .sec1_Ctarjeta .tarjeta img {
      height: 112px;
      width: 112px; }
    .sec1_Ctarjeta .tarjeta p {
      font-size: 14px;
      margin: 0px; }

.tarjeta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 274px;
  height: auto;
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  align-items: center;
  text-align: center; }

/*Sec2*/
.sec2 {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 112px 56px;
  max-width: 1328px;
  margin: auto;
  border-radius: 16px;
  gap: 24px; }
  .sec2_tarjetas {
    display: grid;
    grid-template-areas: "pd1 pd2" "pd3 pd4";
    gap: 24px; }

.pd1 {
  grid-area: pd1;
  background-color: #fff3e5; }

.pd2 {
  grid-area: pd2; }

.pd3 {
  grid-area: pd3; }

.pd4 {
  grid-area: pd4;
  background-color: #fff3e5; }

/*Sec3*/
.sec3 {
  display: flex;
  flex-direction: row-reverse;
  gap: 56px;
  justify-content: center;
  align-items: center;
  padding: 224px 56px 224px 56px;
  max-width: 1328px;
  margin: auto; }
  .sec3_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px; }
  .sec3_icon {
    display: grid;
    grid-template-areas: "pd1 pd2" "pd3 pd4";
    gap: 24px; }
