$primary_color: linear-gradient(270deg, #E64343 0%, #9A45C1 100%);
$primary_color_hover: linear-gradient(270deg, #E64343 0%, #9A45C1 59.38%);


$secondary_color: rgba(255, 160, 51, 1);

$tertiary_color: #0A335C;

$bg_color: #E8F2FC;

$font_d1: rgba(0, 0, 0, 0.924);
$font_d2: rgba(0, 0, 0, 0.778);
$font_d3: rgba(0, 0, 0, 0.496);

$font_l1: white;

$font_default: 1rem;

@mixin grid () {
    display: grid;
    grid-template-areas: "pd1 pd2"
                         "pd3 pd4";
    gap: 24px;
}